<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="HlxPortal" connectionString="Server=tcp:vn6gqwmdp2.database.windows.net,1433;Database=HochTestDb;User ID=unimatrixcache@vn6gqwmdp2;Password=07Apples_unimatrix;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="HlxPortal1" connectionString="Data Source=(local);Initial Catalog=HlxPortal;Integrated Security=True;Connect Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="Ip" value="192.168.11.16"/>
    <add key="Port" value="8089"/>
    <add key="CpfLpnRoot" value="C:\temp\CpfLpn\"/>
    <add key="RadiationCameraRoot" value="C:\temp\RadiationCamera\"/>
    <add key="IntervalCollectRadiationDataInMinutes" value="1"/>
    <add key="IntervalCollectPlcDataInMinutes" value="5"/>
    <!-- the following timeout is timeout when trying to receive one message (in case of message sent to server in several parts)-->
    <add key="TimeoutRadiationDataInSeconds" value="1"/>
    <add key="TimeoutRadiationCameraInSeconds" value="30"/>
    <add key="TimeoutPlcDataInSeconds" value="45"/>
    <add key="TimeoutCpfDataInSeconds" value="60"/>
  </appSettings>
  <system.diagnostics>
    <sharedListeners>
      <!-- The file trace listener should be enabled in debug mode only. Based on the settings, the log file will be put in 
       %LocalAppData%\dftmp\Resources\Resources\<Guid>\temp\temp\RoleTemp\<BaseFileName>-yyyy-MM-DD.log.
      If the free disk space on the user profile hosted disk is less than the ReserveDiskSpace value, 
      all trace message will be discarded. 
      -->
      <add name="FileListener" traceOutputOptions="DateTime" autoFlush="true" logFileCreationSchedule="Daily" location="custom"
        customlocation="c:\logs\" BaseFileName="DataCollector" ReserveDiskSpace="100000000" DiskSpaceExhaustedBehavior="DiscardMessages"
        type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sharedListeners>
    <sources>
      <source name="Global" switchValue="All">
        <listeners>
          <add name="FileListener"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>