*.user
*.userosscache
*.suo
HlxPortal/DataCollector/bin/*
HlxPortal/DataCollector/obj/*
HlxPortal/HlxPortal.Tests/bin/*
HlxPortal/HlxPortal.Tests/obj/*
HlxPortal/WebSite/bin/*
HlxPortal/WebSite/obj/*
HlxPortal/Common/bin/*
HlxPortal/Common/obj/*
HlxPortal/Cloud1/bin/*
HlxPortal/Cloud1/csx/*
HlxPortal/Cloud1/obj/*
HlxPortal/packages/*
HlxPortal/WebSite/WebRole.cs
