<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="HlxPortal" connectionString="Server=tcp:vn6gqwmdp2.database.windows.net,1433;Database=HochTestDb;User ID=unimatrixcache@vn6gqwmdp2;Password=07Apples_unimatrix;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
      <add name="Local" connectionString="Data Source=(local);Initial Catalog=HlxPortal;Integrated Security=True;Connect Timeout=30;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
