@model LeSan.HlxPortal.WebSite.Models.RadiationViewModel
@using Newtonsoft.Json;

<div class="demo-section k-content">
    <div class="cTitle f14">剂量数据</div> <br />
    <div id="chartDose" style="margin-bottom:20px"></div>
    <div class="cTitle f14">温湿度数据</div> <br />
    <div id="chartTemperature" style="margin-bottom:20px"></div>
</div>

<div class="cTitle f14">源室图片</div>
<div class="cPicGroup">
@for (int i = 0; i < Model.CameraImageBase64List.Count; i++)
{
    <span> @Model.CameraImageTimeStamp[i]
        <img src="data:image/jpeg;base64,@Model.CameraImageBase64List[i]" alt="名称1" title="名称2">
    </span>
    <br />
}
</div>

<script type="text/javascript">
    var radiationDatas = @Html.Raw(JsonConvert.SerializeObject(Model.DataList));

    createDoseChart(radiationDatas);
    createTemperatureChart(radiationDatas);

    // use plc icon to represent binarys
    function createDoseChart(plotLines) {
        $('#chartDose').kendoChart({
            title: {
                text: "",
            },
            legend: {
                position: "bottom",
            },
            dataSource: {
                data: plotLines
            },
            seriesDefaults: {
                type: "scatterLine",
                style: "smooth"
            },
            series: [{
                xField: "TimeStamp",
                yField: "Dose1",
                name: "探头1",
                markers: { visible: false, size: 4 }
            }, {
                xField: "TimeStamp",
                yField: "Dose2",
                name: "探头2",
                markers: { visible: false, size: 4 }
            }, {
                xField: "TimeStamp",
                yField: "Dose3",
                name: "探头3",
                markers: { visible: false, size: 4 }
            }, {
                xField: "TimeStamp",
                yField: "Dose4",
                name: "探头5",
                markers: { visible: false, size: 4 }
            }, {
                xField: "TimeStamp",
                yField: "Dose5",
                name: "探头5",
                markers: { visible: false, size: 4 }
            }],
            xAxis: {
                type: "date",
                baseUnit: "hours",
                labels: {
                    template: "#=kendo.toString(value, 'M/d H:mm')#"
                }
            },
            yAxis: {
                labels: {
                    format: "{0} uSv/h"
                }
            },
            tooltip: {
                visible: true,
                template: "#= series.name #<br/>X: #=kendo.toString(new Date(value.x), 'MM-dd HH:mm')#<br/>Y: #=value.y# uSv/h"
            }
        });
    }

    function createTemperatureChart(plotLines) {
        $('#chartTemperature').kendoChart({
            title: {
                text: "",
            },
            legend: {
                position: "bottom",
            },
            dataSource: {
                data: plotLines
            },
            seriesDefaults: {
                type: "scatterLine",
                style: "smooth"
            },
            series: [{
                xField: "TimeStamp",
                yField: "Temperature",
                name: "温度 [&deg;C]",
                markers: { visible: false, size: 4 }
            }, {
                xField: "TimeStamp",
                yField: "Humidity",
                name: "湿度 [%]",
                markers: { visible: false, size: 4 }
            }],
            xAxis: {
                type: "date",
                baseUnit: "hours",
                labels: {
                    template: "#=kendo.toString(value, 'M/d H:mm')#"
                }
            },
            tooltip: {
                visible: true,
                template: "#= series.name #<br/>X: #=kendo.toString(new Date(value.x), 'MM-dd HH:mm')#<br/>Y: #=value.y#"
            }
        });
    }
</script>