<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\publish\HlxPortal\LeSan.HlxPortal.WebSite.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>
    </DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HlxPortal" Order="1" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=HlxPortal;Integrated Security=True;Connect Timeout=30" Name="Data Source=(local);Initial Catalog=HlxPortal;Integrated Security=True;Connect Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:vn6gqwmdp2.database.windows.net,1433;Initial Catalog=HochTestDb;User ID=unimatrixcache@vn6gqwmdp2;Password=07Apples_unimatrix;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HlxPortal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:vn6gqwmdp2.database.windows.net,1433;Database=HochTestDb;User ID=unimatrixcache@vn6gqwmdp2;Password=07Apples_unimatrix;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HlxPortal-Web.config Connection String">
      <ParameterValue>Data Source=(local);Initial Catalog=HlxPortal;Integrated Security=True;Connect Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>