@charset "UTF-8";
/* CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td {padding:0;margin:0;}
body,button,input,select,textarea {/* for ie *//*font-size:12px;font-family:Helvetica,Arial,"宋体",sans-serif;*/font-size:12px;font-family:Helvetica,Arial,"\5b8b\4f53",sans-serif;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size:100%;}
table {border-collapse:collapse;border-spacing:0;}
button,input,select,textarea {font-size:100%;}
fieldset,img {border:0 none;}
ol,dl,ul {list-style:none;}
html {overflow-y:scroll;}
a {text-decoration:none;}
a:hover {text-decoration:underline;cursor:pointer;}

/* CSS Combine */
.login,.content,.footer,.logSite {margin:0px auto;}
.content,.footer {width:1240px;}
.topSite,.topBanner,.allsel,.aSSel,.logBg,.warning div {width:100%;}
.date,.lContent,.iTLText,.hotSel ul li,.hotPic,.graph,.aSSel ul li,.moniData ul li,.moniC,.moniL {float:left;}
.log,.iTRText,.hotKind select,.selDate,.moniR {float:right;}
.footer,.hotSel,.moniData ul li,.hotPic a {vertical-align:middle;}
.hotSel ul li,.hotPic a,.footer,.warning div,.moniC,.cTitle,.bCShow {text-align:center;}
.totalList,.totalList li,.member,.siteSel li,.hotSel ul li,.hotPic a,.pClose,.aSSel ul li,.moniData ul li {display:block;}
.rContent,.infoTab td,.hotPic,.dateInput,.infoInput {border:1px solid #d5d5d5;}
.itemTitle,.allMap,.hotSel,.cPicGroup,.moniData ul li {border-bottom:1px solid #d5d5d5;}
.dateInput,.infoInput,.picFrame {background:#fff;}
.totalList li a:hover,.siteName:hover,.siteSel li a:hover,.hK1:hover,.blue:hover,.blue2:hover,.red:hover,.gray:hover {color:#f60;}
.selName,.infoTab td,.selDate,.picInfo,.infoInput,.password,.logInput,.cTitle,.mDName,.moniDate,.cPicGroup table td {color:#5c5c5c;}
.hotSel,.hK1,.graph {color:#868686;}
.selInfo,.hotSel,.curveMap,.selBar,.cPicGroup {margin:24px auto 0px auto;}
.total,.allSite,.member {width:220px;height:46px;}
.totalList,.aSList {width:194px;padding:0px 12px;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;background:#fff;}
.siteName,.siteNameS,.totalList li,.siteSel li {height:29px;*height:31px;padding-top:15px;*padding-top:13px;border-bottom:1px solid #d5d5d5;}
.siteName,.siteNameS {display:block;width:162px;padding-left:32px;color:#4c98b0;}
.rContent,.rContentL {float:right;background:#fff;}
.itemTitle,.itemTitleL {width:942px;height:40px;padding-left:42px;padding-right:16px;line-height:40px;vertical-align:middle;color:#5c5c5c;}
.confirm,.addBtn,.backBtn,.clearBtn,.resetBtn,.saveBtn,.cancelBtn {width:68px;height:24px;border:none;vertical-align:-8px;*vertical-align:0px;}
.confirm:hover,.addBtn:hover,.backBtn:hover,.clearBtn:hover,.resetBtn:hover,.saveBtn:hover,.cancelBtn:hover {cursor:pointer;background-position:0px -24px;}
.confirm:active,.addBtn:active,.backBtn:active,.clearBtn:active,.resetBtn:active,.saveBtn:active,.cancelBtn:active {background-position:0px -48px;}
.logInput,.logbtn,.erorrTips {margin-bottom:30px;margin-left:63px;}
.passErorr,.erorrTips,.succeTips {width:300px;height:34px;line-height:34px;padding-left:50px;vertical-align:middle;}
.passErorr,.erorrTips {background: url(../images/erorr.gif) no-repeat;}
.passErorr,.succeTips {margin-left:354px;margin-top:30px;}
.mDStateN,.mDStateU {width:41px;text-align:center;margin-right:20px;border-right:1px solid #d5d5d5;}
.rState,.gState {width:26px;height:12px;padding-left:16px;background-repeat:no-repeat;background-position:0px 2px;line-height:14px;}
.mLR,.mLW,.mLG {float:left;width:14px;height:14px;margin-right:42px;}

/* CSS Common */
body {min-width:1240px;background:url(../images/pageBg.gif) repeat;}
.topSite {height:188px;padding-top:12px;background:url(../images/topSiteBg.gif) repeat-x;}
.topBanner {height:150px;background:url(../images/topBanner.jpg) no-repeat center;}
.login {width:1240px;height:27px;padding-top:11px;color:#c2ccd2;}
.log a {color:#c2ccd2;}
.log a:hover {color:#ff0;}
.content {padding:20px 0px;}
.lContent {width:220px;}
.total {background:url(../images/totalN.jpg);}
.total:hover {cursor:pointer;background:url(../images/totalR.jpg);}
.totalList li {width:162px;padding-left:32px;background:url(../images/totalL.gif);}
.totalList li a {color:#4c98b0;}
.allSite {background:url(../images/allSite.gif);}
.aSList {padding-bottom:12px;}
.siteName {background:url(../images/siteNameN.gif);}
.siteNameS {background:url(../images/siteNameR.gif);}
.siteSel li {width:150px;padding-left:44px;background:#f2f6f7 url(../images/siteSel.gif);}
.siteSel li a {color:#707676;}
.member {background:url(../images/memberN.gif);}
.member:hover {background:url(../images/memberR.gif);}
.rContent {width:1000px;padding-bottom:30px;}
.rContentL {width:1002px;}
.itemTitleL {border-top:1px solid #d5d5d5;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;}
.allMap {width:998px;height:794px;padding:1px;}
.selInfo {width:952px;background:url(../images/siteInfo1.gif) no-repeat;}
.selName {width:902px;padding-left:50px;height:23px;*height:25px;padding-top:9px;*padding-top:7px;}
.infoTab td {padding:5px 10px;background-image:url(../images/tableLine.gif);background-repeat:repeat-x;line-height:22px;}
.hotSel {width:880px;height:26px;line-height:26px;padding-left:40px;padding-bottom:14px;background:url(../images/hotSel.gif) no-repeat 0px 2px;}
.hotSel ul li {width:112px;height:26px;}
.hSS {background:url(../images/hotKind.gif);}
.hK2 {color:#fff;}
.hK2:hover {text-decoration:none;}
.hotSite {width:960px;margin:24px 0px 0px 40px;}
.hotKind {width:920px;margin:24px 0px;height:30px;}
.graph {margin-top:3px;}
.graph img {width:14px;height:14px; vertical-align:-2px;}
.hotPGroup {width:960px;}
.hotPic {width:76px;height:76px;padding:1px;margin-right:40px;margin-bottom:40px;}
.hotPic a {width:76px;height:76px;color:#fff;line-height:76px;}
.stateG {background:#2bc66b;}
.stateH {background:#a1a7aa;}
.stateR {background:#cd4549;}
.curveMap {width:920px;padding-bottom:24px;}
.cPicGroup {width:920px;height:498px;padding-top:20px;padding-bottom:20px;border-top:1px solid #d5d5d5;overflow-y:scroll;}
.cPicGroup table {width:890px;border:1px solid #d5d5d5;margin-bottom:20px;}
.cPicGroup table td {padding:6px;}
.cTitle {width:900px;margin:0px auto;padding-left:20px;font-weight:bold;}
.selBar {width:928px;height:24px;}
.dateInput {width:90px;height:12px;padding:5px;*vertical-align:-5px;}
.confirm {background-image:url(../images/confirm.gif);*vertical-align:-5px;}
.addBtn {background-image:url(../images/add.gif);*vertical-align:-5px;}
.backBtn {background-image:url(../images/back.gif);}
.clearBtn {background-image:url(../images/clear.gif);}
.resetBtn {background-image:url(../images/reset.gif);}
.saveBtn {background-image:url(../images/save.gif);}
.cancelBtn {background-image:url(../images/cancel.gif);}
.infoInput {width:300px;height:14px;padding:5px;font-size:14px;}
.picFrame {width:800px;border:1px solid #fff;}
.picInfo {width:740px;padding:18px 30px;line-height:28px;}
.pClose {width:45px;height:45px;position:absolute;z-index:1;margin-left:755px;background: url(../images/close.gif);}
.pClose:hover {background-position:0px -45px;}
.allsel {height:22px;padding:10px 0px;}
.aSSel {height:382px;padding-top:10px;overflow-y:scroll;}
.aSSel ul li {width:236px;height:22px;margin-right:10px;margin-bottom:10px;}
.password {width:1000px;height:470px;padding-top:80px;background:url(../images/bgPic.jpg);}
.password table {width:400px;margin-left:354px;}
.password table td {height:50px;}
.passErorr {color:#9C3031;}
.succeTips {background:url(../images/succe.gif) no-repeat;color:#158d6a;}
.clear {height:0px;clear:both;overflow:hidden;}
.footer {height:46px;line-height:46px;background:#000;color:#838383;}
.logBg {height:842px;background: url(../images/logBg.jpg) no-repeat center -12px;}
.logSite {width:1240px;padding-top:316px;}
.logInput {width:230px;padding:10px 10px 10px 110px;border:none;}
.logbtn {width:132px;height:40px;border:none;background:url(../images/loginBtn.gif);}
.logbtn:hover {cursor:pointer;background-position:0px -40px;}
.logbtn:active {background-position:0px -80px;}
.erorrTips {margin-left:63px;color:#8abfdd;}
.warning {width:1000px;height:370px;padding-top:180px;background:url(../images/errorBg.jpg);}
.warning div {height:76px;font-size:24px;font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53",sans-serif;color:#929292;}
.warning div img {width:84px;height:76px;margin-right:30px;vertical-align:-30px;}
.monitor {width:830px;height:430px;margin:0px auto;background:url(../images/moniBg.jpg) no-repeat 0px bottom;}
.moniL {width:170px;height:14px;background:url(../images/moniL.gif) no-repeat;margin-top:114px;margin-right:160px;}
.mLR {background:url(../images/rl.gif);}
.mLW {background:url(../images/wl.gif);} 
.mLG {background:url(../images/gl.gif);}
.moniC {width:156px;height:160px;background:url(../images/mRBg.gif) no-repeat 0px bottom;margin-top:40px;}
.bCShow {width:156px;height:14px;margin-bottom:16px;}
.mRes {width:78px;height:26px;border:none;background-image:url(../images/res.gif);}
.mRes:hover {background-position:0px -26px;cursor:pointer;}
.mRes:active {background-position:0px -52px;}
.moniR {width:170px;height:82px;padding:11px 10px;;border:4px solid #ddd;background:url(../images/mCtrl.gif) no-repeat;}
.mMoni {width:54px;height:53px;background:url(../images/monitor.gif);margin:30px auto 0px auto;*margin:42px auto 0px auto;}
.rState {color:#b32b43;background-image:url(../images/redPoint.gif);}
.gState {color:#31ba34;background-image:url(../images/greenPoint.gif);}
.moniData {width:854px;margin:26px 0px 0px 85px;}
.moniData ul li {height:30px;line-height:30px;border-top:1px solid #d5d5d5;margin-bottom:10px;}
.mDName {width:87px;padding:0px 10px;background:url(../images/mN.gif) repeat-x;border-left:1px solid #d5d5d5;}
.mDStateN {color:#d9e4d3;background:url(../images/mDN.gif);}
.mDStateU {color:#ead0d3;background:url(../images/mDU.gif);}
.moniDate {width:815px;height:14px;line-height:100%;margin:30px auto 20px auto;background:url(../images/square.gif) no-repeat 0px 3px;padding-left:15px;}
.curr {}

/* CSS Font */
.f14 {font-size:14px;}
.lh26 {line-height:26px;}
.Tred {color:#b32b43;}
.Tgray {color:#9e9e9e;}
.Tgreen {color:#31ba34;}
.Torange {color:#f60;}
.blue {color:#2092d0;text-decoration:underline;}
.blue2 {color:#2092d0;}
.red {color:#bb5050;}
.gray {color:#5c5c5c;}

/* Left Menu 2 */
.aSListS {width:194px;height:449px;padding:0px 12px;border-left:1px solid #d5d5d5;border-right:1px solid #d5d5d5;background:#fff;overflow-y:scroll;padding-bottom:12px;}
.siteName2,.siteNameS2 {display:block;width:142px;height:29px;*height:31px;padding-top:15px;*padding-top:13px;padding-left:32px;border-bottom:1px solid #d5d5d5;color:#4c98b0;}
.siteName2:hover {color:#f60;}
.siteName2 {background:url(../images/siteNameN2.gif);}
.siteNameS2 {background:url(../images/siteNameR2.gif);}
.siteSel2 li {display:block;width:130px;height:29px;*height:31px;padding-top:15px;*padding-top:13px;padding-left:44px;border-bottom:1px solid #d5d5d5;background:#f2f6f7 url(../images/siteSel2.gif);}
.siteSel2 li a {color:#707676;}
.siteSel2 li a:hover {color:#f60;}