@{
    ViewBag.Title = "访问受限";
}

<div class="itemTitle" style="background:url(/images/itemTitle6.jpg);"><b class="iTLText f14">访问受限</b></div>
<div class="warning">
    <div><img src="/images/wSign1.png" />@ViewBag.Msg</div>
</div> 

